*
{
    padding: 0;
    margin: 0;
}
body
{
    /* border:  2px solid hotpink; */
    height: 450vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    /* border: 2px solid violet    ; */
    height: 14vh;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    background-color: white;
}

.tabs
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 130%;
    font-weight: bold;
    align-items: center;

}


a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

a:hover
{
    color: red;
}

.head
{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 14vh;
}

/* First div start */
.about-first
{
    height: 55vh;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    background-image: url(./abouthead.b17a2a16.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.about-first h1
{ 
        padding-top: 12%;
}

.about-second-whole
{
    border: 5px solid yellow;
    height: 115vh;
}

.about-second
{
    border: 2px solid red;
    display: flex;
    height: 78%;
    margin-left: 5%;
    margin-top: 6%;
    width: 90%;
    background-color: white;
    /* height: 90% */
    font-size: larger;
}

.about-second-left
{
    width: 50%;
    /* background-color: gold; */
}
.about-second-left img{
    width: 95%;
    height: 100%;
}

.about-second-right
{
    width: 50%;
/* background-color: plum; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.about-third
{
    text-align: center;
    height: 71vh;
    background-color: black;
    background-image: url(./resto-2880w.3fe6183f.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;

    /* background-image: url(/static/media/resto-2880w.3fe6183f.jpg); */
    background-position: 50%;

}


.about-third h1
{
    padding-top: 15%;
    font-size: 8vh;
}
.about-third h5
{
font-size: 3vh;
}





/* About us cards */


.about-us-cards-whole
{
    height: 87vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}

    .about-us-cards
    {        border: 2px solid yellow;
        display: flex;
        flex-wrap: wrap;
        height: 80%;
        width: 90%;
        align-self: center;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .card
    {
        border: 2px solid red;
        height: 41%;
        border-bottom: 8px solid red;
        width: 31%;
        /* justify-content: ; */
        align-items: center;
        display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.card1
{
    border-bottom: 8px solid red;
/* padding-left: 1%; */
/* padding-right: 1%; */
    display: flex;
align-items: center;
justify-content: center;
/* font-size: 15px; */
height: 41%;
width: 31%;
text-align: center;
    /* border: 2px solid red; */
    background-color: red;
    color: white;
}

    .card h1
    {
        /* border-bottom: 2px solid black; */
        border


    }


.card p
{
    color: red;
}


    /* second last div */


    .about-sixth button
    {
       
            border: 2px solid black;
            color: black;
            border-radius: 30px;
            /* margin-top: 5px; */
            /* margin-left: 43px; */
            /* padding: 12px 12px 12px 12px ; */
            background-color: transparent ;
            width: 18%;
            height: 17%;

    }


    .about-sixth
    {
        height: 55vh;
        background-color: black;
        color: white;
        font-weight: bold;
        text-align: center;
        background-image: url(./workers-2880w.983fd790.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        /* text-align: center; */
        color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}
    .line
    {
        border-top: 1px solid red;
        /* height: 0px; */
        width: 92%;
        /* background-color: aqua; */
    }

