*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.header
{
    /* border: 2px solid violet    ; */
    height: 14vh;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    background-color: white;
}

.tabs
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 130%;
    font-weight: bold;
    align-items: center;

}


a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
a:hover
{
    color: red;
}


.head
{
    position: fixed;
    width: 100%;
    height: 14vh;
}

.CONTACT-WHOLE
{
    font-weight: bolder;
    color: white;
    height: 65VH;
    font-size: 140%;
    text-align: center;
    background-color: rgba(171, 162, 162, 0.456);
    background-image: url(./workers-2880w.983fd790.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* border-color: 5px solid yellow; */
    
}
.CONTACT-WHOLE h1
{
border-color: 5px solid yellow;

   padding-top: 15%;
}

.SECOND
{
    /* border: 2PX SOLID RED; */
    height: 75VH;
    font-size: 150%;
/* border-color: 5px solid yellow; */
display: flex;

}
.SECOND-LEFT
{
    margin-top: 7%;
    margin-left: 7%;

    width: 50%;
}

.SECOND-RIGHT
{
    width: 50%;

}




.seventh
{
    display: flex;
    background-color: rgb(221, 219, 219);
    height: 100vh;
    width: 100%;  
    font-size: 120%;
/* border: 5px solid yellow;     */
}

.seventh-right
{
    margin-left: 2%;
    width: 95%;
 border: 1px solid green;
 border: 5px solid hotpink;    

}

.form-heading
{
    margin-top: 3%;
    height: 15%;
    width: 52%;
    margin-left: 40%;

}


.seventh-right h1
{
    margin-left: 10%;
    margin-top: 2%;
    /* font-size: 50px; */
    font-weight: bold;
}

.message
{
     /* padding: 35px !important; */
     width: 98% !important;
    margin-left: 1%;
    }
    .message input
    {
        padding: 32px !important;
    }

.form-inputs
{
    display: flex;
    flex-direction: row;
    border: 2px solid yellow;
}
 
.seventh-right input
{
        color: #fff;
        padding: 10px;
        width: 100%;
        border: 1px solid #fff;
        border-radius: 4px;

}

.input-box

{
    width: 100%;
}


.logo4
{
border: 2px solid black;
margin-left: 30%;
margin-top: 2%;
width: 45%;
height: 25%;
}




 .seventh-heading
{
font-size: 25px;
margin-top: 2%;

}



.input-box
{
        margin: 1%;
        margin-top: 2%;
    /* color: black; */
}



.full-input
{
        /* color: #fff; */
        padding: 30px !important;
        width: 95% !important;
        border: 1px solid #fff;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 10px 10px 10px 20px;
    
}

.seventh-right button{
    border: 2px solid red;
    color: red;
    border-radius: 30px;
    margin-top: 3%;
    margin-left: 43%;
    padding: 1.5% 6% 1.5% 6%;
    background-color: white;
}



/* last div */


/* Tenth div ends */
.last
{
/* border: 2px solid yellow; */

    height: 45vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.last-one
{
    width: 23%;
    height: 90%;
    list-style-type: none;
    font-size: 120%;
padding: 4%;
}
.last-one li{
    border-bottom: 2px solid white;

}
.last-one img
{
    width: 100%;
    height: 50%;

}
/* last div ends here */




/* Footer css starts.............. */
.footer
{
    padding: 1.5% 0 0 35%;
    width: 100%;
    height: 9vh;
    color: white;
    background-color: rgb(42, 39, 39);
border: 2px solid yellow;
}


/* Footer css ends.................. */

