*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header
{
border: 2px solid violet;
height: 14vh;
display: flex;
justify-content: flex-end;
justify-content: space-between;
position:fixed !important;
width: 100%;
background-color: white;
}

.tabs
{
    list-style-type: none;
        display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 130%;
    font-weight: bold;
    align-items: center;

}
a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}


/* header ends */